{% extends 'main.html' %}



{% block content %}
{% if page == 'log' %}
<div>
    <form method = "POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type = "text" name = "username" placeholder = "Enter username" />
        <label>Password:</label>
        <input type = "Password" name = "password" placeholder = "Enter Password" />
        <input type = "Submit" value = "Login" />
    </form>
    <p> Haven't Signed up yet? </p>
    <a href = "{% url 'register' %}"> Sign Up </a>


</div>

{% else %}
<div>
    <form method = "POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type = "Submit" value = "Register" />
    </form>
    <p> Already Signed up? </p>
    <a href = "{% url 'log' %}"> Login </a>


</div>
{% endif %}


{% endblock content %}